/* 
  This is a SAMPLE File to get you started. Follow the instructions on the project to complete the tasks. 
  You'll probably need to override some of theese styles.
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    min-height: 100vh;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin-left: 1rem;
}

main {
    padding: 2rem;
    text-align: center;
}



section#places-list {
    text-align: center;
}

table#places-table {
    border-collapse: collapse;
    margin: auto;
    width: 80%;
    max-width: 1200px;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table#places-table th, table#places-table td {
    padding: 10px;
    border: 1px solid #ddd;
}

table#places-table th {
    background-color: #f4f4f4;
}